@font-face {
    font-family: 'anime_ace_2.0_bbbold';
    src: url('../fonts/animeace2_bld-webfont.woff2') format('woff2'),
         url('../fonts/animeace2_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
