@keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-3px, 0, 0);
  transform: translate3d(-3px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(3px, 0, 0);
  transform: translate3d(3px, 0, 0);
  }
  }

.Header {
  position:relative;
  width:100%;

  &-two{
    position:absolute;
    width:730px;
    height:400px;
    right:-150px;
    top:450px;


  }
  &-three{
    position:absolute;
    opacity:0;
    right:-600px;
    width:870px;
    height:400px;
    top:450px;
    animation-duration: 12s;
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }
  &-four{
    position:absolute;
    opacity:0;
    right:-600px;
    width:870px;
    height:400px;
    top:450px;
    animation-duration: 12s;
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

}
