.bodyIndex{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position:center;
}

.indexContainer{
  width:100vw;
  height:100vh;
  position:relative;
  &-logo{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-buttonStyle{
    color:#ffffff;
    font-size:15px;
    box-shadow: 0px 0px 20px #343434;
    border-radius: 50px;
    border: 1px solid #671216;
    background:#671216;
    height:50px;
    width:200px;
    font-family: 'anime_ace_2.0_bbbold';
  }

}
