
/*  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}*/

.bodyStoryPage{
  background:#000;
}

.storyPage{
  &-container{
    width:100vw;
    height:100vh;
    position:relative;
  }
  &-textContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-text{
    font-family: 'anime_ace_2.0_bbbold';
    color:#fff;
    font-size:35px;
    letter-spacing: 3px;
    text-align:center;
    word-spacing: 5px;
    text-shadow: 2px 1px gray;
    display:none;
    line-height:1.6;
  }
  &-verification{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:none;
  }
  &-buttons{
    display:flex;
    justify-content:space-around;
    margin-top:10%;
    text-align: center;
  }
  &-question{
    color:#fff;
    font-size:35px;
  }
  &-button{
    color:#000;
    font-size:15px;
    box-shadow: 0px 0px 20px #343434;
    border-radius: 50px;
    border: 1px solid #fff;
    background:#fff;
    height:50px;
    width:150px;
    font-family: 'anime_ace_2.0_bbbold';
  }
  &-button:hover{
    color:#fff;
    background:#671216;
  }

}
